@forward 'scrollbar';
@use './tinymce.scss';

.full-screen {
  width: 100vw !important;
  height: 100vh !important;
  overflow: auto;
}

.detail-link {
  color: rgb(var(--primary-color));
  cursor: pointer;
}

.n-dialog.n-modal {
  max-width: 100% !important;
}

/* 定义更生动的游泳动画 */
@keyframes swim {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(10px) translateY(-5px) rotate(5deg);
  }
  50% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  75% {
    transform: translateX(-10px) translateY(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
}

/* 应用动画到图片 */
.swim {
  animation: swim 3s infinite ease-in-out;
}
